.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.App {
  text-align: center;
  background-color: red;
  background: red;
}