.navbar-brand {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    
}

.navbar{
    align-items: center;
    
}

.container-fluid{
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    text-decoration: aliceblue;
    
}