.tasks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 80px;
  background-color: red;
  border-radius: 30px;
  border: 20px solid white;
}

.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.sort-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.sort-buttons button.active {
  background-color: #ffffff;
  font-weight: bold;
}

.sort-buttons button:hover {
  background-color: #ffffff;
}