.card-form {
    width : 400px;
    height: 200px;
    background-color: #ff0000;
    margin: 25px auto;
    text-align: center;
    padding: 10px 0px;
    border-radius: 15px;
    font-style: italic;
    color: white;
}

.card-form input {
    margin-left: 15px;
    padding: 6px;
}

.card-form button {
    padding: 6px;
    border: none;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.form-row {
    margin: 8px auto;
    font-weight: 825;
}