.container-fluid{
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    text-decoration: aliceblue;   
}
.profiles {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
}
.navbar-brand {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    
}

.navbar{
    align-items: center;
    
}

.d-block{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

.about-title{
    margin-top: 40px;
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.text-content{
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.skills{
    margin: 40px;
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.footer-content {
    background-color: rgb(255, 255, 255);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
    padding: 20px;
}

.contact-form {
    color: rgb(255, 255, 255);
    max-width: 35%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 80px;
}

.form-check, .form-label, .form-text{
    color: rgb(255, 255, 255);
    margin: 0;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.carousel-inner {
    text-align: center;
    margin: 0 auto;
    
}

.gif-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    border-color: white;
}

.gif-container img {
    
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
}

.mb-3.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
}

.form-check-input {
  margin: 0;
  cursor: pointer;
  
}

.form-check-label {
  margin: 0;
  cursor: pointer;
}

.contact-container-fluid{
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    text-decoration: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;  
}