.container-fluid{
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    text-decoration: aliceblue;
    
}
.profiles {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
}
.navbar-brand {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    
}

.navbar{
    align-items: center;
    
}

.d-block{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

.about-title{
    margin-top: 40px;
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
    
}

.text-content{
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.skills{
    margin: 40px;
    background-color: rgb(255, 0, 0);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.footer-content {
    background-color: rgb(255, 255, 255);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
    color: white;
    padding: 20px;
}

.contact-form {
    color: rgb(255, 255, 255);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
}

.form-check, .form-label, .form-text{
    color: rgb(255, 255, 255);
    
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.carousel-inner {
    text-align: center;
    margin: 0 auto;
    
}

.gif-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}