.container-fluid{
    background-color: rgb(248, 8, 8);
    text-decoration: solid;
    text-align: center;
    text-decoration: underline;
}
.profiles {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
}